<div>
  <section>
    <h2>Contacts</h2>
      <p>Телефон:  +7 (495) 785-33-53 / 54</p>
      <p>E-mail:  GUNSHOP@OHOTNIK.COM</p>
      <p>Адрес:  г. Москва, Сколковское шоссе, д. 31, ТВК "Спорт-Хит", 4 этаж</p>
      <p>Группа компаний «Охотник» импортирует в Россию оружие, оптику и аксессуары с 1999 года. За это время мы накопили значительный опыт и понимание задач Российских охотников, касающиеся выбора различных калибров, типов оружия, оптических приборов, экипировки. Мы стремимся не просто продать, а посоветовать и подобрать для каждого пришедшего к нам охотника именно то, что соответствует его охотничьим задачам. И сказанное - не пустые слова. Мы гордимся тем, что большинство наших покупателей приходят к нам вновь, становятся друзьями и рекомендуют наши магазины своим друзьям и знакомым.</p>
  </section>
</div>
