<div id="page-main">
  <div id="slider-price-main">
    <p id="slider-price-name">{{prev.name}}</p>
    <img ng-src="{{prev.imgURL}}" alt="{{prev.alt}}" id="slider-img">
    <button class="slider-price-button" id="slider-price-left" ng-click="back()">◄</button>
    <button class="slider-price-button" id="slider-price-right" ng-click="next()">►</button>
    <p id="slider-price-price">{{prev.price}}$</p>
  </div>

  <section>
    <h2>О магазине:</h2>
    <p>
      Группа компаний «Охотник» импортирует в Россию оружие, оптику и аксессуары с 1999 года. За это время мы накопили значительный опыт и понимание задач Российских охотников, касающиеся выбора различных калибров, типов оружия, оптических приборов, экипировки. Мы стремимся не просто продать, а посоветовать и подобрать для каждого пришедшего к нам охотника именно то, что соответствует его охотничьим задачам. И сказанное - не пустые слова. Мы гордимся тем, что большинство наших покупателей приходят к нам вновь, становятся друзьями и рекомендуют наши магазины своим друзьям и знакомым.
    </p>
    <p>
      Магазины Группы компаний "Охотник" расположены в разных частях Москвы. Ассортимент магазинов включает широкий выбор серийного, а также штучного оружия, оптику и патроны ведущих мировых производителей, охотничью одежду и обувь всемирно известных марок. Мы участвуем в выставках, отслеживаем современные тенденции и предлагаем нашим покупателям наиболее удачные, на наш взгляд, новинки, появляющиеся на рынке охотничьих товаров. Сервисный центр "Охотника" не только осуществляет гарантийный ремонт оружия и установку прицелов, но и решает большинство возможных проблем, связанных с оружием, что привлекает на Головинское шоссе охотников со всей России.
    </p>
    <p>
      Группа компаний «Охотник» выступает активным посредником между покупателем и производителем. Мы не просто импортируем товары, мы налаживаем «обратную связь», доводя до наших иностранных партнеров информацию о потребностях российских охотников и принимая участие в разработках и тестировании новых моделей оружия, патронов, одежды, аксессуаров. При выборе партнеров большое внимание мы уделяем разумному соотношению цены и качества. Продуманные технологии импорта позволяют нам обеспечивать цены, минимально отличающиеся от цен производителя, а товары некоторых брендов в наших магазинах и вовсе можно купить не дороже, чем за границей.
    </p>
    <p>
      На протяжении многих лет отличительной чертой группы компаний «Охотник» является импорт эксклюзивного оружия по индивидуальному заказу. Благодаря тесному сотрудничеству с большинством известнейших оружейных компаний и мастерами-штучниками мы можем осуществить практически любые творческие задумки наших клиентов. Выполнение заказа начинается с подробного обсуждения идеи. Затем, основываясь на опыте сотрудничества, мы рекомендуем производителя, способного, на наш взгляд, выполнить заказ наилучшим образом, и курируем весь процесс выполнения заказа, находясь в непрерывном диалоге с производителем. Это позволяет максимально учесть все пожелания заказчика и добиться действительно впечатляющего результата.
    </p>
  </section>
</div>
